@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

c@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

*,

*::before,

*::after {

  box-sizing: border-box;

}

body {

  width:100%;

  height:100vh;

  margin:0;

  padding:0;

  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);

  }

#lii {

    

    display:flex;

    width:100%;

    margin:auto;

}

#lii p {

    

    width:40%;

    font-weight:900;

    border-bottom:2px solid #730FF6;

}

input {

    

    width:80%;

    margin:auto;

    border:2px solid #730FF6;

    border-radius:15px;

    padding:20px;

    margin-right:20px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

a {

    

    text-decoration:none;

    color:#fff;

    font-weight:900;

    margin:auto;

    border-bottom:2px solid #730FF6;

    width:50%;

}

.res {

    

    width:60%;

    background:#000;

    color:#fff;

    padding:15px;

    margin:auto;

    border:none;

    display:flex;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

   font-size:18px;

   font-weight:900;

    justify-content:center;

    margin-top:20px;

    margin-bottom:20px;

    border-radius:15px;

    

}

button,input {

    user-select:none;

    outline:none;

}

.made_by{

  font-weight: 400;

  font-size: 13px;

  margin-top: 35px;

  margin-bottom:20px;

  text-align: center;

}

#header {

  color: white;

  padding:25px;

  width:100%;

  display:flex;

  margin-top:0;

  top:0;

  font-weight:400;

  z-index:999;

  position:fixed ;

  font-size:20px;

  font-family:'Passion One';

  -webkit-transition: 0.6s ease;

  transition: 0.6s ease;

  background-color:#730FF6;

}

#ccode {

   float: right;

   display: block;

   margin-left: auto;

   right: -0;

}

#super {

   display: none;

}

#space {

   width: 100%;

   height: 100px;

}

#menu {

   margin-right: 20px;

}

#space {

    

    width:100%;

    height:100px;

}

#loader {

    height:100vh;

    width:100%;

    color:#000;

    margin:0;

    font-weight:600;

    text-align:center;

    background-color:#730FF6;

    flex-direction:column;

    display:flex;

}

#loader svg {

    

    width:80%;

    display:block;

    height:80vh;

    margin:auto;

}

.card {

    

    width:100%;

    min-height:100vh;

    max-height:1000vh;

    display:flex;

    flex-direction:column;

}

.box {

    

    width:90%;

    height:60vh;

    overflow-y:scroll;

    overflow-x:none;

    padding:20px;

    margin:auto;

    display:flex;

    margin-top:30px;

    margin-bottom:30px;

    flex-direction:column;

    color:#000;

    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);

    border:3px solid #730FF6;

    border-radius:15px;

   

    animation: scale-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes scale-in-bottom {

  0% {

    transform: scale(0);

    transform-origin: 50% 100%;

    opacity: 1;

  }

  100% {

    transform: scale(1);

    transform-origin: 50% 100%;

    opacity: 1;

  }

}

#codeapp {

    

    display:none;

}

h1 {

    font-size: 24px;

    font-weight: 900;

    text-align: center;

}

.av{

    

    width:70px;

    height:70px;

}

p {

    width:80%;

    text-align:center;

    margin:auto;

    margin-top:10px;

    font-weight:600;

    

    animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

@keyframes fade-in-left {

  0% {

    transform: translateX(-50px);

    opacity: 0;

  }

  100% {

    transform: translateX(0);

    opacity: 1;

  }

}

.shake {

display:block;

    animation: shake-vertical 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;

}

@keyframes shake-vertical {

  0%,

  100% {

    transform: translateY(0);

  }

  10%,

  30%,

  50%,

  70% {

    transform: translateY(-8px);

  }

  20%,

  40%,

  60% {

    transform: translateY(8px);

  }

  80% {

    transform: translateY(6.4px);

  }

  90% {

    transform: translateY(-6.4px);

  }

}

#lang {

    

    color:#fff;

    font-weight:900;

    right:0;

    left:auto;

    float:right;

    margin:auto;

    margin-right:15px;

    margin-left:auto;

    

}

